body {
  direction: rtl;
  background: #f3f4f6;
  font-family: 'Shabnam', sans-serif;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}


.card,
.dropdown {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: transparent;
  
}

.card {
  padding: 20px;
  
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.search-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  flex: 1;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  border-color: #29254A;
  box-shadow: 0 0 8px rgba(41, 37, 74, 0.5);
}

.search-button {
  height: 45px;
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  background-color: #42389D;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.search-button:hover {
  background-color: #1f1b38;
  transform: scale(1.05);
}

.search-button:active {
  background-color: #15112a;
}
.dropdown {
  padding: 10px; /* کاهش فضای داخلی کل دراپ‌داون */
  background-color: #29254A;
  width: 50%; /* کوچک‌تر کردن عرض کل دراپ‌داون */
  margin: 0 auto; /* وسط‌چین کردن کل دراپ‌داون */
}

.dropdown-title {
  font-size: 14px; /* کوچک‌تر کردن فونت عنوان */
  font-weight: 600;
  margin-bottom: 8px; /* کاهش فاصله زیر عنوان */
  color: #dcdce4;
  text-align: center; /* وسط‌چین کردن عنوان */
}

.dropdown-item {
  padding: 5px; /* کاهش فضای داخلی آیتم‌ها */
  background: #4A4A4A;
  opacity: 30%;
  border-radius: 4px;
  margin-bottom: 8px; /* کاهش فاصله بین آیتم‌ها */
  cursor: pointer;
  color: #dcdce4;
  text-align: center; /* وسط‌چین کردن متن آیتم‌ها */
  font-size: 14px; /* کوچک‌تر کردن متن آیتم‌ها */
}

.dropdown-item:hover {
  background: #e5e7eb;
  color: #29254A; /* تغییر رنگ متن هنگام هاور */
}
